body {
  background: radial-gradient(rgb(239, 230, 233) 0%, rgb(70, 137, 183) 100%);
}

h1 {
  text-align: center;
  padding-bottom: 25px;
  font-family: serif;
  font-weight: bold;
}
.time small {
  font-size: 20px;
  vertical-align: middle;
}

footer {
  text-align: center;
  color: rgb(77, 77, 77);
  text-shadow: 1px 2px 2px rgb(239, 148, 148);
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 2px lightgray;
}

.card {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 50px;
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
    25px 0 20px -20px rgba(0, 0, 0, 0.45),
    0px 25px 20px -20px rgba(0, 0, 0, 0.45),
    -25px 0 20px -20px rgba(0, 0, 0, 0.45);
  font-family: serif;
}

.card-title {
  font-size: 40px;
  font-weight: bolder;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px dashed lightgrey;
  padding: 20px 0;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 40px;
  font-weight: bold;
}

#city-names {
  font-family: sans-serif;
}

#city-name {
  font-weight: bold;
  margin: 0 0 10px;
  font-size: 32px;
}

#git-link {
  color: rgb(130, 50, 215);
}
